# Ignore paths that contain user-generated content.
web/files
web/sites/*/files
web/sites/*/private
web/sites/*/services.local.yml
web/sites/*/settings.*php

drupal/.editorconfig
drupal/.gitattributes

.idea
.DS_Store

# Ignore sql dumps.
*.sql
*.sql.gz
